<section class="menu-page">
  <div class="container">

    <h1>{{ 'MENU.TITLE' | translate }}</h1>

    <!-- 🔥 Filtros -->
    <div class="filters">

      <button *ngFor="let category of categoriesWithAll" (click)="changeCategory(category)"
        [class.active]="selectedCategory === category">
        {{ ('MENU.PRODUCTS.' + category.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '')) | translate }}
      </button>

    </div>

    <!-- 🔥 Productos -->
    <div class="grid" [class.fade-out]="isAnimating">

      <div class="card" 
      *ngFor="let product of filteredProducts; let i = index"
      [style.transitionDelay]="!isAnimating ? (i * 80) + 'ms' : '0ms'">

        <div class="image" [style.backgroundImage]="'url(' + product.image + ')'"></div>

        <div class="info">
          <h3>{{ product.name }}</h3>
          <p>{{ product.price }}</p>
        </div>

      </div>

    </div>

  </div>
</section>